<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="yb_checkout" frontName="yb_checkout">
            <module name="YappyBuy_Checkout"/>
        </route>
    </router>
</config>
